# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# Firebase
.firebase

# .env
# .env.production
# .env.development
# .env.test

# dev
/dev

# builds
/build

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
chromedriver.log*